.menuCenter {
    display: flex;
    justify-content: center;
}

.menuEnd {
    display: flex;
    justify-content: end;
}

.menupuppyBG {
    background-image: url(../assets/bgtexture.jpg);
    background-position: top left;
    background-repeat: repeat;
    background-size: cover;
}

.menumuzzlesLogo {
    padding-left: 25%;
    padding-top: 2%;
}

.menulinksText {
    font-size: 20px;
    padding-right: 3%;
    font-family: 'Fugaz One', cursive;
}

.menulinksText:last-child {
    padding-right: 0%;
}

.menu-nav-link {
    color: #5F002B;
}

.menu-nav-link:hover {
    color: #5F002B;
    font-size: 20px;
    font-family: 'Fugaz One', cursive;
}

.menuLinksSpacing {
    padding-right: 8%;
    padding-top: 2%;
}

.menuTitleText {
    font-size: 50px;
    font-family: 'Fugaz One', cursive;
    color: #5F002B;
}

.menuTitleBG {
    background-color: white;
}

@font-face {
    font-family: 'montaukRegular';
    src: url(/fonts/Montauk-Regular.otf);
    font-style: normal;
}

​.menuMontaukReg {
    font-family: montaukRegular;
}

.menuAdjustRight {
    padding-right: 0.4%;
}

.menuAdjustLeft {
    padding-left: 0.4%;
}

.menuSubTitle {
    font-size: 30px;
    font-family: 'Fugaz One', cursive;
    color: #5F002B;
}

.menuMaroon {
    color: #5F002B;
}

.menuNoPadding {
    padding: 0 !important;
    margin: 0 !important;
}

.menuItem {
    font-size: 30px;
}

.menuDescription {
    font-size: 18px;
}

.menuPrice {
    font-size: 30px;
}

.menuBorders {
    border-bottom: solid;
    color: #5F002B;
    display: flex;
    justify-content: center;
}

.menuIndent {
    text-indent: 10px;
}

.menuIndent2 {
    text-indent: -70px;
}

.menuIndent3 {
    text-indent: -60px;
}

.menuMarginBottom {
    margin-bottom: 10%;
}

.menuFooterText {
    color: #5F002B;
    font-size: 18px;
}

.menuLogo {
    width: 125px;
}

body {
    font-family: 'montaukRegular';
}

.hyphens {
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    overflow: visible;
}

.removeBullet {
    list-style-type: none;
}

@media only screen and (max-width: 991px) {
    .menuAdjustLeft {
        padding: 0;
        margin: 0;
    }
    .menuAdjustRight {
        padding: 0;
        margin: 0;
    }
}