/* Carlos' CSS */

.menuCenter {
    display: flex;
    justify-content: center;
}

.menuEnd {
    display: flex;
    justify-content: end;
}

.menupuppyBG {
    background-image: url(../assets/bgtexture.jpg);
    background-position: top left;
    background-repeat: repeat;
    background-size: cover;
}

.menumuzzlesLogo {
    padding-left: 25%;
    padding-top: 2%;
}

.menulinksText {
    font-size: 20px;
    padding-right: 3%;
    font-family: 'Fugaz One', cursive;
}

.menulinksText:last-child {
    padding-right: 0%;
}

.menu-nav-link {
    color: #5F002B;
}

.menu-nav-link:hover {
    color: #5F002B;
    font-size: 20px;
    font-family: 'Fugaz One', cursive;
}

.menuLinksSpacing {
    padding-right: 8%;
    padding-top: 2%;
}

.menuTitleText {
    font-size: 50px;
    font-family: 'Fugaz One', cursive;
    color: #5F002B;
}

.menuTitleBG {
    background-color: white;
}

@font-face {
    font-family: 'montaukRegular';
    src: url(/fonts/Montauk-Regular.otf);
    font-style: normal;
}

​.menuMontaukReg {
    font-family: montaukRegular;
}

.menuAdjustRight {
    padding-right: 0.4%;
}

.menuAdjustLeft {
    padding-left: 0.4%;
}

.menuSubTitle {
    font-size: 30px;
    font-family: 'Fugaz One', cursive;
    color: #5F002B;
}

.menuMaroon {
    color: #5F002B;
}

.menuNoPadding {
    padding: 0 !important;
    margin: 0 !important;
}

.menuItem {
    font-size: 30px;
}

.menuDescription {
    font-size: 18px;
}

.menuPrice {
    font-size: 30px;
}

.menuBorders {
    border-bottom: solid;
    color: #5F002B;
    display: flex;
    justify-content: center;
}

.menuIndent {
    text-indent: 10px;
}

.menuIndent2 {
    text-indent: -70px;
}

.menuIndent3 {
    text-indent: -60px;
}

.menuMarginBottom {
    margin-bottom: 10%;
}

.menuFooterText {
    color: #5F002B;
    font-size: 18px;
}

.menuLogo {
    width: 125px;
}

body {
    font-family: 'montaukRegular';
}

.hyphens {
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    overflow: visible;
}

.removeBullet {
    list-style-type: none;
}

@media only screen and (max-width: 991px) {
    .menuAdjustLeft {
        padding: 0;
        margin: 0;
    }
    .menuAdjustRight {
        padding: 0;
        margin: 0;
    }
}

/*Alex's CSS */

@font-face {
    font-family: montaukRegular;
    src: url(../Montauk-Regular/Montauk-Regular.otf);
}

@font-face {
    font-family: montaukBold;
    src: url(../Montauk-Regular/Montauk-Bold.otf);
}

@font-face {
    font-family: montaukItalic;
    src: url(../Montauk-Regular/Montauk-Italic.otf);
}

@font-face {
    font-family: montaukLight;
    src: url(../Montauk-Regular/Montauk-Light.otf);
}

.montaukReg {
    font-family: montaukRegular;
    color: #5F002B;
}

.montaukB {
    font-family: montaukBold;
    color: #5F002B;
}

.montaukI {
    font-family: montaukItalic;
    color: #5F002B;
}

.montaukLite {
    font-family: montaukLight;
    color: #5F002B;
}

.fugaz {
    font-family: 'Fugaz One', cursive;
}

.removeBullet {
    list-style-type: none;
}

.puppyBG {
    background-image: url("../assets/bgtexture.jpg");
    background-position: top left;
    background-repeat: repeat;
    background-size: cover;
}

.menumuzzlesLogo {
    padding-left: 25%;
    padding-top: 2%;
}

.menulinksText {
    font-size: 20px;
    padding-right: 3%;
    font-family: 'Fugaz One', cursive;
}

.menulinksText:last-child {
    padding-right: 0%;
}

.menu-nav-link {
    color: #5F002B;
}

.menu-nav-link:hover {
    color: #5F002B;
    font-size: 20px;
    font-family: 'Fugaz One', cursive;
}

.menuLinksSpacing {
    padding-right: 8%;
    padding-top: 2%;
}

.homePageRooms {
    background-image: url("../assets/homeHero.jpg");
    height: 33vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.panini {
    padding-top: 5%;
}

.muzzleText {
    padding-top: 5%;
    color: #5F002B;
}

.muzzleTextBG {
    background-color: #FFFFFF;
    color: #5F002B;
}

.muzzleparagraph {
    padding-bottom: 2%;
}

.menuFooterText {
    color: #5F002B;
    font-size: 18px;
}

.menuLogo {
    width: 125px;
}

.hyphens {
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    overflow: visible;
}

.menuNoPadding {
    padding: 0 !important;
    margin: 0 !important;
}

.paniniBackgroundImg {
    background-image: url(../assets/homeSingle.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 320px) {
    .paninisize {
        width: 100%;
        height: auto;
    }
    .muzzleTitle {
        font-size: 20px;
        padding-top: 3%;
        padding-left: 3%;
    }
    .muzzleparagraph {
        font-size: 12px;
        padding-bottom: 8%;
        padding-left: 3%;
        padding-right: 0%;
    }
}

@media only screen and (min-width: 375px) {
    .muzzleTitle {
        font-size: 30px;
        padding-top: 3%;
        padding-left: 3%;
    }
    .muzzleparagraph {
        font-size: 15px;
        padding-bottom: 8%;
        padding-left: 3%;
        padding-right: 0%;
    }
}

@media only screen and (min-width: 425px) {}

@media only screen and (min-width: 768px) {
    .muzzleTitle {
        font-size: 35px;
        padding-top: 1%;
        padding-left: 1%;
    }
}

@media only screen and (min-width: 1024px) {
    .linksText {
        font-size: 20px;
        padding-right: 0%;
    }
    .muzzleTitle {
        font-size: 40px;
        padding-top: 3%;
        padding-left: 3%;
    }
    .muzzleparagraph {
        font-size: 22px;
        padding-bottom: 8%;
        padding-left: 3%;
        padding-right: 0%;
    }
    .paninisize {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 1200px) {
    .paninisize {
        width: 100%;
        height: auto;
    }
    .muzzleTitle {
        font-size: 30px;
        padding-top: 1%;
        padding-left: 3%;
    }
    .muzzleparagraph {
        font-size: 15px;
        padding-bottom: 2%;
    }
}

@media only screen and (min-width: 1440px) {
    .linksText {
        font-size: 20px;
        padding-right: 0%;
    }
    .paninisize {
        width: 840px;
        height: 600px;
    }
    .muzzlesLogo {
        width: 100%;
        height: auto;
    }
    .muzzleTitle {
        font-size: 40px;
        padding-top: 1%;
        padding-left: 3%;
    }
    .muzzleparagraph {
        font-size: 20px;
        padding-bottom: 2%;
    }
    .tripleImages {
        height: 180px;
    }
}

@media only screen and (min-width: 2560px) {
    .linksText {
        font-size: 30px;
    }
    .companylogo {
        width: 8vw;
    }
    .muzzlesLogo {
        width: 130%;
        height: 130%;
    }
    .paninisize {
        width: 1000px;
        height: 700px;
    }
    .muzzleTitle {
        font-size: 60px;
        padding-top: 1%;
        padding-left: 3%;
    }
    .muzzleparagraph {
        font-size: 24px;
        padding-bottom: 5%;
    }
    .tripleImages {
        height: 240px;
    }
}

/* Trevor's CSS*/

@font-face {
    font-family: "MontaukRegular";
    src: url("../fonts/Montauk-Regular.otf");
}

body {
    font-family: 'MontaukRegular';
    color: #5f002b;
}

.photoPuppyBG {
    background-image: url("../assets/bgtexture.jpg");
    background-position: top left;
    background-repeat: repeat;
    background-size: cover;
}

.photoMuzzlesLogo {
    padding-left: 25%;
    padding-top: 2%;
}

.photoLinksText {
    font-size: 22px;
    padding-right: 3%;
}

.photoLinksText:last-child {
    padding-right: 0%;
}

.photoNav-link {
    color: #5f002b;
}

.photoLinksSpacing {
    padding-right: 10%;
    padding-top: 2%;
}

.photoPageHeaderColor {
    background-color: white;
}

.photoPageCenter {
    display: flex;
    justify-content: center;
}

.photoPageHeaderFont {
    font-family: "Fugaz One", cursive;
    font-size: 50px;
    color: #5f002b;
}

.photoBorder {
    border-style: solid;
    border-color: white;
    border-width: 8px;
}

.photoSpacing {
    display: flex;
    justify-content: space-evenly;
}

.photoFooterSpacing {
    display: flex;
    justify-content: space-between;
}

​.montaukReg {
    color: red !important;
    text-decoration: underline;
}

.montaukB {
    font-family: montaukBold;
}

​ .montaukI {
    font-family: montaukItalic;
}

​ .montaukLite {
    font-family: montaukLight;
}

.footerFontSize {
    font-size: 20px;
}

.cateringPageHeaderFont {
    font-family: "Fugaz One", cursive;
    font-size: 50px;
    color: #5f002b;
}

.cateringMargin {
    margin-left: 4.5%;
}

.cateringFooter1 {
    margin-left: 8%;
}

.cateringFooter2 {
    margin-right: 5%;
}

.cateringPageCardFont1 {
    font-family: "Fugaz One", cursive;
    font-size: 35px;
    color: #5f002b;
}

.cateringPageCardFont2 {
    font-family: "Fugaz One", cursive;
    font-size: 15px;
    color: #5f002b;
}

.photoFooterText {
    color: #5F002B;
    font-size: 18px;
}

.photoLogo {
    width: 125px;
}

.photoNoPadding {
    padding: 0 !important;
    margin: 0 !important;
}

.removeBullet {
    list-style-type: none;
}

.photoHeaderFont {
    font-family: "Fugaz One", cursive;
    font-size: 20px;
    color: #5f002B;
}