/* Carlos' CSS */

.menuCenter {
    display: flex;
    justify-content: center;
}

.menuEnd {
    display: flex;
    justify-content: end;
}

.menupuppyBG {
    background-image: url(../assets/bgtexture.jpg);
    background-position: top left;
    background-repeat: repeat;
    background-size: cover;
}

.menumuzzlesLogo {
    padding-left: 25%;
    padding-top: 2%;
}

.menulinksText {
    font-size: 20px;
    padding-right: 3%;
    font-family: 'Fugaz One', Regular;
}

.menulinksText:last-child {
    padding-right: 0%;
}

.menu-nav-link {
    color: #5F002B;
}

.menu-nav-link:hover {
    color: #5F002B;
    font-size: 20px;
    font-family: 'Fugaz One', Regular;
}

.menuLinksSpacing {
    padding-right: 8%;
    padding-top: 2%;
}

.menuTitleText {
    font-size: 50px;
    font-family: 'Fugaz One', Regular;
    color: #5F002B;
}

.menuTitleBG {
    background-color: white;
}

@font-face {
    font-family: 'montaukRegular';
    src: url(/fonts/Montauk-Regular.otf);
    font-style: normal;
}

​.menuMontaukReg {
    font-family: montaukRegular;
}

.menuAdjustRight {
    padding-right: 0.4%;
}

.menuAdjustLeft {
    padding-left: 0.4%;
}

.menuSubTitle {
    font-size: 30px;
    font-family: 'Fugaz One', cursive;
    color: #5F002B;
}

.menuMaroon {
    color: #5F002B;
}

.menuNoPadding {
    padding: 0 !important;
    margin: 0 !important;
}

.menuItem {
    font-size: 30px;
}

.menuDescription {
    font-size: 18px;
}

.menuPrice {
    font-size: 30px;
}

.menuBorders {
    border-bottom: solid;
    color: #5F002B;
    display: flex;
    justify-content: center;
}

.menuIndent {
    text-indent: 10px;
}

.menuIndent2 {
    text-indent: -70px;
}

.menuIndent3 {
    text-indent: -60px;
}

.menuMarginBottom {
    margin-bottom: 10%;
}

.menuFooterText {
    color: #5F002B;
    font-size: 18px;
}

.menuLogo {
    width: 125px;
}

body {
    font-family: 'montaukRegular';
}

.hyphens {
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    overflow: visible;
}

.removeBullet {
    list-style-type: none;
}

@media only screen and (max-width: 991px) {
    .menuAdjustLeft {
        padding: 0;
        margin: 0;
    }
    .menuAdjustRight {
        padding: 0;
        margin: 0;
    }
}

/*Alex's CSS */

/* Grabbing Fonts */

@font-face {
    font-family: montaukRegular;
    src: url(../Montauk-Regular/Montauk-Regular.otf);
}

@font-face {
    font-family: montaukLight;
    src: url(../Montauk-Regular/Montauk-Light.otf);
}

.montaukReg {
    font-family: montaukRegular;
    color: #5F002B;
}

.montaukLite {
    font-family: montaukLight;
    color: #5F002B;
}

.fugaz {
    font-family: 'Fugaz One', Regular;
}

.puppyBG {
    background-image: url("../assets/bgtexture.jpg");
    background-position: top left;
    background-repeat: repeat;
    background-size: cover;
}

/* NavBar */

.muzzlesLogo {
    padding-left: 30%;
    width: 100%;
    height: auto;
}

.removeBullet {
    list-style-type: none;
}

.linksText {
    font-size: 25px;
    padding-right: 3%;
    font-family: 'Fugaz One', Regular;
}

.linksText:last-child {
    padding-right: 0%;
}

.nav-link {
    color: #5F002B;
}

.nav-link:hover {
    text-decoration: underline;
    color: #5F002B;
    font-family: 'Fugaz One', Regular;
}

.LinksSpacing {
    padding-right: 8%;
}

/* First Picture that spans the entire website */

.homePageRooms {
    background-image: url("../assets/homeHero.jpg");
    height: 33vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* panini and MuzzleSandwhiches */

.panini {
    padding-top: 5%;
}

.muzzleText {
    padding-top: 5%;
    color: #5F002B;
}

.muzzleTextBG {
    background-color: #FFFFFF;
    color: #5F002B;
}

.muzzleparagraph {
    padding-bottom: 2%;
}

/* Footer */

.FooterText {
    color: #5F002B;
    font-size: 18px;
}

.Logo {
    width: 125px;
}

.hyphens {
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    overflow: visible;
}

.NoPadding {
    padding: 0 !important;
    margin: 0 !important;
}

/* Media queries */

@media only screen and (min-width: 320px) {
    .btnSize{
        font-size: medium;
    }
   
    .muzzlesLogo{
        width: 280px;
        height: auto;
    }

    .paninisize {
        width: 100%;
        height: auto;
    }
    .muzzleTitle {
        font-size: 18px;
        padding-top: 3%;
        padding-left: 3%;
    }
    .muzzleparagraph {
        font-size: 12px;
        padding-bottom: 8%;
        padding-left: 3%;
        padding-right: 0%;
    }
}

@media only screen and (min-width: 375px) {
    .muzzleTitle {
        font-size: 20px;
        padding-top: 3%;
        padding-left: 3%;
    }
    .muzzleparagraph {
        font-size: 13px;
        padding-bottom: 8%;
        padding-left: 3%;
        padding-right: 0%;
    }
}

@media only screen and (min-width: 425px) {
    .muzzleTitle {
        font-size: 20px;
        padding-top: 3%;
        padding-left: 3%;
    }
}

@media only screen and (min-width: 720px) {
    .muzzleTitle {
        font-size: 35px;
        padding-top: 1%;
        padding-left: 3%;
    }
    .muzzleparagraph {
        font-size: 15px;
        padding-bottom: 8%;
        padding-left: 3%;
        padding-right: 0%;
    }
}

@media only screen and (min-width: 992px) {
    
}

@media only screen and (min-width: 1024px) {
    .linksText {
        font-size: 25px;
        padding-right: 3%;
    }
    .muzzleTitle {
        font-size: 40px;
        padding-top: 3%;
        padding-left: 3%;
    }
    .muzzleparagraph {
        font-size: 22px;
        padding-bottom: 8%;
        padding-left: 3%;
        padding-right: 0%;
    }
    .paninisize {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 1200px) {
    .paninisize {
        width: 100%;
        height: auto;
    }
    .muzzleTitle {
        font-size: 30px;
        padding-top: 1%;
        padding-left: 3%;
    }
    .muzzleparagraph {
        font-size: 15px;
        padding-bottom: 2%;
    }
}

@media only screen and (min-width: 1440px) {
    .linksText {
        font-size: 25px;
        padding-right: 3%;
    }
    .paninisize {
        width: 100%;
        height: auto;
    }
    
    .muzzleTitle {
        font-size: 40px;
        padding-top: 1%;
        padding-left: 3%;
    }
    .muzzleparagraph {
        font-size: 20px;
        padding-bottom: 2%;
    }
    .tripleImages {
        height: 160px;
    }
}

@media only screen and (min-width: 2300px) {
    .linksText {
        font-size: 30px;
    }
    .muzzleTitle {
        font-size: 60px;
        padding-top: 1%;
        padding-left: 3%;
    }
    .muzzleparagraph {
        font-size: 27px;
        padding-bottom: 5%;
    }
    .tripleImages {
        height: 240px;
    }
}

/*Alex About Styling */

/* Grabbing Fonts */
@font-face {
    font-family: montaukRegular;
    src: url(../Montauk-Regular/Montauk-Regular.otf);
}

@font-face {
    font-family: montaukLight;
    src: url(../Montauk-Regular/Montauk-Light.otf);
}

.montaukReg {
    font-family: montaukRegular;
    color: #5F002B;
}

.montaukLite {
    font-family: montaukLight;
    color: #5F002B;
}

.fugaz {
    font-family: 'Fugaz One', cursive;
    color: #5F002B;
}


.puppyBG {
    background-image: url("../assets/bgtexture.jpg");
    background-position: top left;
    background-repeat: repeat;
    background-size: cover;
}

/* NavBar */

.muzzlesLogo {
    padding-left: 30%;
    width: 100%;
    height: auto;
}

.removeBullet {
    list-style-type: none;
}

.linksText {
    font-size: 25px;
    padding-right: 3%;
    font-family: 'Fugaz One', Regular;
}

.linksText:last-child {
    padding-right: 0%;
}

.nav-link {
    color: #5F002B;
}

.nav-link:hover {
    text-decoration: underline;
    color: #5F002B;
    font-family: 'Fugaz One', Regular;
}

.LinksSpacing {
    padding-right: 8%;
}

.NoPadding{
    padding: 0 !important;
    margin: 0 !important;
}

/* behindTheGrill and Dog-side photo */

.aboutImg {
    width: 100%;
    height: auto;
}
.behindTheGrillTextBG {
    background-color: #FFFFFF;
}

.behindTheGrillTitle {
    font-size: 40px;
}

.behindTheGrillParagraph {
    font-size: 18px;
}

/* Our Team */

.ourTeamBG{
    background-color: white;
}
.ourTeamText{
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 35px;
}

/* Dog Cards */


.card-img-top{
    width: 100%;
    height: auto;
}

/* Footer noPadding is in the Header*/

.FooterText {
    color: #5F002B;
    font-size: 18px;
}

.Logo {
    width: 125px;
}



/*Media Queries */

@media only screen and (min-width: 320px){
    
    .btnSize{
        font-size: medium;
    }
    .muzzlesLogo{
        width: 280px;
        height: auto;
    }
    .behindTheGrillTitle {
        font-size: 30px;
    }
    
    .behindTheGrillParagraph {
        font-size: 14px;
    }
    .card-title{
        font-size: 30px;
    }
    .card-text{
        font-size: 17px;
    }
}

@media only screen and (min-width: 768px){
    .card-title{
        font-size: 35px;
    }
    .card-text{
        font-size: 20px;
    }
}

@media only screen and (min-width: 994px){
    .behindTheGrillTitle {
        font-size: 40px;
    }
    
    .behindTheGrillParagraph {
        font-size: 17px;
    }
}



@media only screen and (min-width: 1200px){

    .behindTheGrillTitle {
        font-size: 29px;
    }

    .behindTheGrillParagraph {
        font-size: 12px;
    }

    .cardWidth{
        width: auto;
    }
    .card-title{
        font-size: 35px;
    }
    .card-text{
        font-size: 22px;
    }
}
@media only screen and (min-width: 1400px){

    .behindTheGrillTitle {
        font-size: 35px;
    }

    .behindTheGrillParagraph {
        font-size: 14px;
    }
    .card-title{
        font-size: 40px;
    }
    .card-text{
        font-size: 24px;
    }
}

@media only screen and (min-width: 1800px){

    .behindTheGrillTitle {
        font-size: 50px;
    }

    .behindTheGrillParagraph {
        font-size: 18px;
    }
}

@media only screen and (min-width: 2350px){

    .behindTheGrillTitle {
        font-size: 60px;
    }

    .behindTheGrillParagraph {
        font-size: 24px;
    }
    .card-title{
        font-size: 60px;
    }
    .card-text{
        font-size: 30px;
    }
}


/* Trevor's CSS*/

@font-face {
    font-family: "MontaukRegular";
    src: url("../fonts/Montauk-Regular.otf");
}

body {
    font-family: 'MontaukRegular';
    color: #5f002b;
}

.photoPuppyBG {
    background-image: url("../assets/bgtexture.jpg");
    background-position: top left;
    background-repeat: repeat;
    background-size: cover;
}

.photoMuzzlesLogo {
    padding-left: 25%;
    padding-top: 2%;
}

.photoLinksText {
    font-size: 22px;
    padding-right: 3%;
}

.photoLinksText:last-child {
    padding-right: 0%;
}

.photoNav-link {
    color: #5f002b;
}

.photoNav-link:hover {
    color: #5F002B;
    font-size: 20px;
    font-family: 'Fugaz One', Regular;
}

.photoLinksSpacing {
    padding-right: 10%;
    padding-top: 2%;
}

.photoPageHeaderColor {
    background-color: white;
}

.photoPageCenter {
    display: flex;
    justify-content: center;
}

.photoPageHeaderFont {
    font-family: "Fugaz One", cursive;
    font-size: 50px;
    color: #5f002b;
}

.photoBorder {
    border-style: solid;
    border-color: white;
    border-width: 8px;
}

.photoSpacing {
    display: flex;
    justify-content: space-evenly;
}

.photoFooterSpacing {
    display: flex;
    justify-content: space-between;
}

​.montaukReg {
    color: red !important;
    text-decoration: underline;
}

.montaukB {
    font-family: montaukBold;
}

​ .montaukI {
    font-family: montaukItalic;
}

​ .montaukLite {
    font-family: montaukLight;
}

.footerFontSize {
    font-size: 20px;
}

.cateringPageHeaderFont {
    font-family: "Fugaz One", cursive;
    font-size: 50px;
    color: #5f002b;
}

.cateringMargin {
    margin-left: 4.5%;
}

.cateringFooter1 {
    margin-left: 8%;
}

.cateringFooter2 {
    margin-right: 5%;
}

.cateringPageCardFont1 {
    font-family: "Fugaz One", cursive;
    font-size: 35px;
    color: #5f002b;
}

.cateringPageCardFont2 {
    font-family: "Fugaz One", cursive;
    font-size: 15px;
    color: #5f002b;
}

.photoFooterText {
    color: #5F002B;
    font-size: 18px;
}

.photoLogo {
    width: 125px;
}

.photoNoPadding {
    padding: 0 !important;
    margin: 0 !important;
}

.removeBullet {
    list-style-type: none;
}

.photoHeaderFont {
    font-family: "Fugaz One", cursive;
    font-size: 20px;
    color: #5f002B;
}
