@font-face {
    font-family: montaukRegular;
    src: url(../Montauk-Regular/Montauk-Regular.otf);
}

@font-face {
    font-family: montaukBold;
    src: url(../Montauk-Regular/Montauk-Bold.otf);
}

@font-face {
    font-family: montaukItalic;
    src: url(../Montauk-Regular/Montauk-Italic.otf);
}

@font-face {
    font-family: montaukLight;
    src: url(../Montauk-Regular/Montauk-Light.otf);
}

.montaukReg {
    font-family: montaukRegular;
    color: #5F002B;
}

.montaukB {
    font-family: montaukBold;
    color: #5F002B;
}

.montaukI {
    font-family: montaukItalic;
    color: #5F002B;
}

.montaukLite {
    font-family: montaukLight;
    color: #5F002B;
}

.fugaz {
    font-family: 'Fugaz One', cursive;
}


.removeBullet {
    list-style-type: none;
}

.puppyBG {
    background-image: url("../RestaurantMockupFiles/RestaurantMockupFiles/assets/bgtexture.jpg");
    background-position: top left;
    background-repeat: repeat;
    background-size: cover;
}

.menumuzzlesLogo {
    padding-left: 25%;
    padding-top: 2%;
}
.menulinksText {
    font-size: 20px;
    padding-right: 3%;
    font-family: 'Fugaz One', cursive;
}
.menulinksText:last-child {
    padding-right: 0%;
}
.menu-nav-link {
    color: #5F002B;
}
.menu-nav-link:hover {
    color: #5F002B;
    font-size: 20px;
    font-family: 'Fugaz One', cursive;
}
.menuLinksSpacing {
    padding-right: 8%;
    padding-top: 2%;
}

.homePageRooms {
    background-image: url("../RestaurantMockupFiles/RestaurantMockupFiles/assets/homeHero.jpg");
    height: 33vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.panini {
    padding-top: 5%;
}

.muzzleText {
    padding-top: 5%;
    color: #5F002B;
}

.muzzleTextBG {
    background-color: #FFFFFF;
    color: #5F002B;
}

.muzzleparagraph {
    padding-bottom: 2%;
}

.menuFooterText {
    color: #5F002B;
    font-size: 18px;
}
.menuLogo {
    width: 125px;
}

.hyphens {
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    overflow: visible;
}

.menuNoPadding {
    padding: 0 !important;
    margin: 0 !important;
}

.paniniBackgroundImg{
    background-image: url(../assets/homeSingle.jpg);
    background-position: center;
    background-repeat: no-repeat;
    
}

@media only screen and (min-width: 320px) {
    
    .paninisize {
        width: 100%;
        height: auto;
    }
    .muzzleTitle {
        font-size: 20px;
        padding-top: 3%;
        padding-left: 3%;
    }
    .muzzleparagraph {
        font-size: 12px;
        padding-bottom: 8%;
        padding-left: 3%;
        padding-right: 0%;
    }
}

@media only screen and (min-width: 375px) {
    .muzzleTitle {
        font-size: 30px;
        padding-top: 3%;
        padding-left: 3%;
    }
    .muzzleparagraph {
        font-size: 15px;
        padding-bottom: 8%;
        padding-left: 3%;
        padding-right: 0%;
    }
}

@media only screen and (min-width: 425px) {}

@media only screen and (min-width: 768px) {
    .muzzleTitle {
        font-size: 35px;
        padding-top: 1%;
        padding-left: 1%;
    }
    
}

@media only screen and (min-width: 1024px) {
    .linksText {
        font-size: 20px;
        padding-right: 0%;
    }
    .muzzleTitle {
        font-size: 40px;
        padding-top: 3%;
        padding-left: 3%;
    }
    .muzzleparagraph {
        font-size: 22px;
        padding-bottom: 8%;
        padding-left: 3%;
        padding-right: 0%;
    }
    .paninisize {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 1200px) {
    .paninisize {
        width: 100%;
        height: auto;
    }
    .muzzleTitle {
        font-size: 30px;
        padding-top: 1%;
        padding-left: 3%;
    }
    .muzzleparagraph {
        font-size: 15px;
        padding-bottom: 2%;
    }
}

@media only screen and (min-width: 1440px) {
    .linksText {
        font-size: 20px;
        padding-right: 0%;
    }
    .paninisize {
        width: 840px;
        height: 600px;
    }
    .muzzlesLogo {
        width: 100%;
        height: auto;
    }
    .muzzleTitle {
        font-size: 40px;
        padding-top: 1%;
        padding-left: 3%;
    }
    .muzzleparagraph {
        font-size: 20px;
        padding-bottom: 2%;
    }
    
    .tripleImages {
        height: 180px;
    }
}

@media only screen and (min-width: 2560px) {
    .linksText {
        font-size: 30px;
    }
    .companylogo {
        width: 8vw;
    }
    .muzzlesLogo {
        width: 130%;
        height: 130%;
    }
    .paninisize {
        width: 1000px;
        height: 700px;
    }
    .muzzleTitle {
        font-size: 60px;
        padding-top: 1%;
        padding-left: 3%;
    }
    .muzzleparagraph {
        font-size: 24px;
        padding-bottom: 5%;
    }
    .tripleImages {
        height: 240px;
    }
    
}
