.puppyBG{
    background-image: url("../RestaurantMockupFiles/RestaurantMockupFiles/assets/bgtexture.jpg");
    background-position: top left;
    background-repeat: repeat;
    background-size: cover;
}
.muzzlesLogo{
    padding-left: 25%;
    padding-top: 2%;
}
.linksText{
    font-size: 22px;
    padding-right: 3%;
}
.linksText:last-child{
    padding-right: 0%;
}
.nav-link{
    color: #5F002B;
}
.linksSpacing{
    padding-right: 10%;
    padding-top: 2%;
}